.container {
    width: 1200px;
    margin: auto;
    border: 1px solid black;
}

.header {
    display: flex;
    border-bottom: 1px solid black;
}

.nav {
    width: 60%;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.search {
    width: 40%;
    align-self: center;
    justify-items: end;
    margin-right: 20px;
}

.section {
    display: flex;
}

.left {
    width: 30%;
    border-right: 1px solid black;
}

.right {
    width: 70%;
}

.footer {
    text-align: center;
    border-top: 1px solid black;
}

.formlogin a{
    text-decoration: none;
}

.product-manager{
    border-collapse: collapse;
    text-align: center;
    margin: 10px 10px;
    width: 97%;
}

.product-manager td, th{
    border: 1px solid black;
}

.product-manager a{
    text-decoration: none;
}


/* render Product  */
.product-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;

max-width: 1800px;
margin: auto;
}

.product-grid a{
    text-decoration: none;
    color: black;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;

    text-align: center;

    background: white;
}

.product-card img {
    width: 160px;
    height: 160px;


    border-radius: 8px;
}

.product-card h3 {
    margin: 10px 0;

    font-size: 18px;
}

.product-card p {
    margin: 5px 0;

    font-size: 14px;
}

.product-detail {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    gap: 30px;
    font-family: Arial, sans-serif;
}

/* IMAGE */
.product-image {
    flex: 1;
}

.product-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* INFO */
.product-info {
    flex: 1;
}

.product-info h2 {
    margin-bottom: 10px;
}

.sub-text {
    color: #666;
}

.price {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.description {
    margin-top: 10px;
    line-height: 1.5;
}

/* BUTTON */
.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 14px;
    border: 1px solid #333;
    text-decoration: none;
    color: black;
    border-radius: 6px;
}

.btn-primary {
    background: #007bff;
    color: white;
    border: none;
}

.btn-danger{
    background: #ff4848;
    color: white;
    border: none;
}

.product-manager img{
    width: 100px;
    height: 100px;
}